---
import { Image } from "@astrojs/image/components";
interface IArticle {
  layout: string;
  slug: string;
  title: string;
  date: string;
  description: string;
  img: string;
}
const array = await Astro.glob("../pages/posts/*.{mdx,md}");

const articles: IArticle[] = array
  .map((item) => item.frontmatter)
  .sort((a, b) => +new Date(b.date) - +new Date(a.date));
const firstArticle = articles[0];
---

<style>
  .post-list {
  }
  .post-list__container {
    @apply max-w-6xl container p-6 mx-auto space-y-6 sm:space-y-12;
  }
  .post-list__items {
    @apply grid justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3;
  }
  .post-card {
    @apply max-w-sm mx-auto  hover:no-underline focus:no-underline;
  }
  .post-card > .post-card__image {
    @apply object-cover w-full rounded h-44;
  }
  .post-card > .post-card__content {
    @apply p-6 space-y-2;
  }
  .post-card > .post-card__content > .post-card__title {
    @apply text-2xl font-semibold;
  }
  .post-card > .post-card__content > .post-card__date {
    @apply text-xs;
  }
  .post-card--hero {
    @apply block max-w-sm gap-3 mx-auto sm:max-w-full hover:no-underline focus:no-underline lg:grid lg:grid-cols-12;
  }
  .post-card--hero > .post-card__image {
    @apply object-cover w-full rounded h-64 sm:h-96 lg:col-span-7;
  }
  .post-card--hero > .post-card__content {
    @apply p-6 space-y-2 lg:col-span-5;
  }
  .post-card--hero > .post-card__content > .post-card__title {
    @apply text-2xl font-semibold sm:text-4xl;
  }
  .post-card--hero > .post-card__content > .post-card__date {
    @apply text-xs;
  }
</style>

<section class="post-list">
  <div class="post-list__container">
    <a href={"/posts/" + firstArticle.slug} class="post-card--hero group">
      <Image
        src={firstArticle.img}
        alt=""
        height="384px"
        width="639px"
        class="post-card__image"
      />
      <div class="post-card__content">
        <h3
          class="post-card__title group-hover:underline group-focus:underline"
        >
          {firstArticle.title}
        </h3>
        <span class="post-card__date">{firstArticle.date}</span>
        <p>
          {firstArticle.description}
        </p>
      </div>
    </a>

    <div class="post-list__items">
      {
        articles.map((post, index) => {
          if (index === 0) {
            return;
          }

          return (
            <a
              rel="noopener noreferrer"
              href={"/posts/" + post.slug}
              class="post-card group"
            >
              <Image
                role="presentation"
                class="post-card__image"
                height="176px"
                width="352px"
                src={post.img}
                alt=""
              />
              <div class="post-card__content">
                <h3 class="post-card__title group-hover:underline group-focus:underline">
                  {post.title}
                </h3>
                <span class="post-card__date">{post.date}</span>
                <p>{post.description}</p>
              </div>
            </a>
          );
        })
      }
    </div>
  </div>
</section>
